@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    color: #001127;
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #DFFEFF;
    align-items: center;
    box-shadow: 0px 0px 10px #3498db;
}
.title{
    font-size: 26px;
    font-weight: 500;
    transition: 2s;
}
    .title:hover{
        border-bottom: 1px solid #00C2CB;
        padding-right: 20px;
        color: #00C2CB;
        padding-left: 20px;
    }
.btn{
    text-decoration: none;
    color: #DFFEFF;
    font-size: 16px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 120px;
    background-color: #001127;
    border-radius: 16px;
    transition: 0.7s;
}
    .btn:hover{
        background-color: #00C2CB;
        color: #001127;
        padding-left: 30px;
        padding-right: 30px;
    }
.opcion{
    font-style: normal;
    color: #00C2CB;
}
.subheader{
    padding: 80px;
}
.title2{
    font-size: 40px;
}
.sub-logo{
    font-size: 60px;
    font-weight: 600;
    background: -webkit-linear-gradient(120deg, #001127 20%, #41d1ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info{
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 24px;
}
#usage{
    list-style: none;
}
#usage span{
    color: #00C2CB;
    font-style: italic;
}
.general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: -200px;
}
.general img{
    margin-left: 250px;
    margin-right: 100px;
    margin-top: -50px;
    width: 400px;
}
.general p{
    margin-top: 50px;
    font-size: 30px;
}
.general span{
    color: #00C2CB;
}
.footer{
    display: flex;
    height: 80px;
    border-top: 1px solid #001127;
    align-items: center;
    justify-content: center;
}
.footer p{
    font-size: 18px;
    font-weight: 600;
}
.footer ul{
    margin-left: 100px;
    list-style: none;
    display: flex;
}
.footer ul a{
    font-size: 14px;
    margin: 10px;
    color: #001127;
    text-decoration: none;
    transition: 0.9s;
}
    .footer ul a:hover{
        padding-left: 3px;
        padding-right: 3px;
    }
.footer .ig:hover{
    color: palevioletred !important;
    border-bottom: 1px solid palevioletred;
}
.footer .tw:hover{
    color: #00C2CB !important;
    border-bottom: 1px solid #00C2CB;
}
.footer .face:hover{
    color: #3b5998 !important;
    border-bottom: 1px solid #3b5998;
}
.footer .git:hover{
    color: black;
    border-bottom: 1px solid black;
}
.lui{
    cursor: pointer;
    transition: 0.7s;
}
    .lui:hover {
        color: #3498db;
        padding-right: 10px;
    }
.imglogo{
    cursor: pointer;
    width: 40px;
    margin-right: 10px;
    transition: 1s;
}
    .imglogo:hover{
        width: 50px;
    }
.logodiv{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    display: flex;
}
.up{
    margin-left: 100px;
    font-size: 30px;
    color: #001127;
    margin-top: 8px;
    transition: 1s;
}
    .up:hover{
        margin-bottom: 20px;
    }